[2020-07-09 12:56] curquiza opened #6 "docker-composer issue with tests on MacOs"
I get a failure when I try to launch the tests with docker compose:

[code]

[2020-07-09 14:56] curquiza opened #9 "Update codebase to use meilisearch-php v0.12"
See this PR failing (https://github.com/meilisearch/meilisearch-symfony/pull/7) when updating meilisearch-php from `v0.11` to `v0.12`

[2020-07-09 17:11] curquiza opened #12 "Impossible to clear indices via CLI"
- I ran a local MS instance with an index named `indexUID` containing books with a `title`
- I created a new Symfony project
- I added:
[code]
in my project
- I added this file (`/config/package/meili_search.yaml`) in my project:
[code]
(I've also created an `src/Entity/Book.php` file following this [part of the docs](https://github.com/meilisearch/meilisearch-symfony/wiki/configure-searchable-dat

[2020-07-09 17:40] emulienfou commented on #12
@curquiza I think you have this error because of the default value of `MEILISEARCH_PREFIX` who take the environment name.
You should create an index `dev_indexUID` or set the value of `MEILISEARCH_PREFIX` to an empty value.

Maybe the documentation is not clear about that

[2020-07-09 18:01] curquiza commented on #12
Oh I indeed did not read [this part of the docs](https://github.com/meilisearch/meilisearch-symfony/wiki/index-configuration#multi-environment-setup) because it was for multi environment setup and I thought I wasn't because I just wanted to test.
(That's the first time I'm using Symfony to be honest, so I'm not the best user in the world 😅)

I succeed to clear my index 🎉 but there is still a littl

[2020-07-09 22:31] curquiza opened #14 "Add test to check the value of "prefix""
Following this issue (#12) and this PR (#13), we need to add test checking the value of `prefix` (in `meili_search.yml` file), especially testing the empty value.

Any suggestions to implement these tests?

[2020-07-10 08:42] devrck commented on #6
Seems like vendor maybe missing :thinking:

[2020-07-10 15:04] curquiza commented on #6
It seems like this is an issue with MacOs, it works fine on Linux.

[2020-07-30 12:59] arkste opened #17 "Add raw search?"
Looking at [`MeiliSearchService->search()`](https://github.com/meilisearch/meilisearch-symfony/blob/master/src/Services/MeiliSearchService.php#L207) it requires an `ObjectManager`.

While i do get the idea behind it, there should be a way to call the raw results without getting the entities from the database, something like this:

[code]

Performance-wise its faster getting the data directly from

[2020-09-28 15:37] curquiza commented on #12
closed by #13

[2020-09-28 15:37] #12 closed

[2020-09-28 15:38] curquiza commented on #9
Outdated

[2020-09-28 15:38] #9 closed

[2020-10-02 13:10] Zeichen32 opened #23 "Entity mapping not working correctly?"
I have try this bundle in a new project, but i cannot get it to work properly.

Maybe i have found a bug, in the MeiliSearchService at linte 218 their is a for-each to iterate over the ids.

[code]

https://github.com/meilisearch/meilisearch-symfony/blob/master/src/Services/MeiliSearchService.php#L218
[code]

But if i do a var_dump on the $ids array, the array looks like:
[code]

If i change the f

[2020-10-02 13:34] Zeichen32 opened #24 "Remove method in Engine not working properly"
The $objects variable contains an array of Ids, but the deleteDocument() method expect a single document id.
I think it must be change to deleteDocuments($objects)

https://github.com/meilisearch/meilisearch-symfony/blob/master/src/Engine.php#L109

[code]

Edit: This issue will be fixed by #21

[2020-10-06 14:25] emulienfou commented on #24
@Zeichen32 #21 has been merged fixing the issue

[2020-10-06 14:25] #24 closed

[2020-10-16 04:13] emulienfou commented on #23
Hi @Zeichen32 currently working on fixing this. It seems there is clearly an issue with the code.
Will add some test case to check it work perfectly.

[2020-12-09 18:14] curquiza commented on #23
Hello @kermitsxb, @emulienfou seems not have found the time fix this issue, even if he's assigned, feel free (you or anyone else) to open a PR to fix it, it would be awesome 👍
Sorry about this, and thanks for your patience! 😄

[2020-12-12 11:14] kermitsxb commented on #23
I proposed PR #33 with a small fix

[2020-12-12 15:14] emulienfou commented on #23
Thanks @kermitsxb to taking the time to fix this, did not had time to work on it recently

[2020-12-14 18:10] curquiza commented on #23
Thanks a lot @kermitsxb!

[2021-01-06 17:00] fharper opened #36 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:56] fharper opened #38 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-18 23:18] #38 closed

[2021-01-21 14:20] #23 closed

[2021-01-27 18:16] curquiza opened #46 "Tests suddendly fail for php 7.2 and 7.3"
Tests are now failing with these errors for php 7.3 and PHP 7.2:

[code]

They did not fail before, and we did not change anything, if someone knows what happened or how to fix it, it would be helpful!

[2021-01-27 18:45] curquiza commented on #46
Ok, this is due to the `symfony/serializer` that was updated from 5.2.1 to 5.2.2. Does not work with PHP 7.2 and 7.3 and `symfony/serializer` 5.2.2

[2021-02-03 17:45] curquiza commented on #46
I thought it was our fault, looks like this was theirs: https://github.com/symfony/serializer/releases/tag/v5.2.3
The package was fixed with a new version 👌
Closing this issue.

[2021-02-03 17:45] #46 closed

[2021-02-10 08:56] norkunas opened #51 "PHP8 support"
Is PHP8 support planned?

[2021-02-10 13:33] curquiza commented on #51
Hello this is not planned, but we are open to any contribution 🙂
Since the meilisearch-php client supports PHP 8, I think that making the support of PHP 8 for this one could be nice.

[2021-02-11 09:30] #51 closed

[2021-02-11 18:34] curquiza commented on #36
Closed by #54

[2021-02-11 18:34] #36 closed

[2021-02-22 13:33] althaus opened #55 "Composer installation fails with missing ENV entries"
Hey,

I've stumbled upon this project and as it looks quite promising, I've just gave it a try.

Sadly following the wiki just fails as running

[code]

will run into an 'Environment variable not found: "MEILISEARCH_URL".' error and composer will revert the changes.

So you have have to use the `--no-scripts` option or pre-define the ENV values. Maybe you'd like to update the wiki. On the other si

[2021-02-23 14:28] althaus commented on #17
I've just made some first steps using the bundle and I'd prefer to use the raw querying and hits to display the results. The performance overhead with querying and hydrating the found entities is massive compared to using the raw data.

[2021-02-23 16:02] curquiza commented on #17
Hello! This is indeed a good idea, and we are really open to any PR :)

[2021-02-24 16:07] althaus opened #56 "Service returns bad entities for correct search"
Hi,

I've encountered another issue using the SearchService. The service returned different entities than the search client. I've debugged through the code and found this issue:

The search method has this line

[code]

which fetches the results from the client. The data is then used in the loop to gather the primary keys:

[code]

In my case the code went into the `else` part and $objectID contai

[2021-02-25 16:13] curquiza commented on #56
Hello Matthias!
Thanks for this report!
I've checked the code, there are indeed some improvements we need to do!
The external contributor who did the code copy the Algolia repository, and here is the corresponding method -> https://github.com/algolia/search-bundle/blob/e1ba3243c6c520d4b6692381cf19c160b72fd298/src/Services/AlgoliaSearchService.php#L204-L239
However, he did not exactly the same meth

[2021-02-25 16:16] althaus commented on #56
I'd be happy to help and test a fix.

I've just wondered if I missed some documentation as there is no real example in the wiki.

[2021-02-25 16:55] curquiza opened #58 "Renaming some variables"
This package was strongly based on the Algolia Symfony Bundler (https://github.com/algolia/search-bundle/ - MIT License).
MeiliSearch and Algolia are indeed similar but not exactly the same. It means there are some naming inconsistencies in the code base of this repository.

- [ ] `objectId` should not be used. MeiliSearch does not generate any `objectId` but contains a `primaryKey` that depends o

[2021-02-25 16:59] curquiza commented on #55
Hello Matthias!
I've just tried (with no MEILISEARCH_URL env variable) and I did not get any error...

I did:
[code]

[2021-02-25 17:48] curquiza commented on #56
The PR is ready for review #57 🚀

[2021-02-26 13:14] althaus commented on #55
Hmm... I've added it to my exsting project and it failed. :/

At the end it wasn't hard to fix, so feel free to close the iusse... on the other hand adding a Symfony Flex Recipe could enhance the UX|DX for this package a lot: https://github.com/symfony/recipes/blob/master/README.rst

[2021-03-01 13:00] althaus commented on #17
I'll check it out.

[2021-03-01 13:23] althaus opened #59 "composer.lock conflicts with Docker configuration"
Spinning up the containers via Docker Compose yields some issues:

[code]

The composer.lock seems to be based on PHP 7.2.5 whilst the Dockerfile uses 7.2.0.

Kind regards
Matthias

[2021-03-08 05:45] norkunas opened #62 "Symfony messenger support"
As the title says, it would be good if Symfony messenger would be supported out of the box :)

Currently we are using a custom message and a message handler, but there's a slight problem that it doesn't properly work for the document removal part from the index. To do a reall `->remove` call we use `$objectManager->getReference()`.
But then the call is delegated to `Engine` and calls `$entity->get

[2021-03-15 21:47] inanimatt opened #64 "Support Doctrine ORM inheritance"
I'm excited to try Meilisearch, so I'm happy there's a symfony bundle! Sadly the project I picked to try it out on uses Doctrine's Single Table Inheritance, and this confuses the `meili:import` command, or more specifically `Services\MeiliSearchService::isSearchable()`.

Under Doctrine's single table inheritance method, we create multiple entity classes that inherit from a root entity in the norma

[2021-03-20 16:39] curquiza commented on #55
I still think this is weird I did not get any issue because you're right, it should fail. I will take time to investigate it, so I will not close the issue for the moment, we could get other feedbacks 👍

[2021-03-20 16:45] curquiza commented on #59
I suggested a PR: #65
If it's not what you expected, feel free to create another PR, I will close mine 😄

[2021-03-20 17:08] curquiza commented on #64
Hello @inanimatt!
Thanks for your feedback and sorry for the delay!

I'm from the Meili team and I'm responsible for the integration repositories like this one. However, I'm not a Symfony user, so I'm not able to tell you how it could impact the usage of the other users, I mean if your suggestion is what they would like or if it's already what they expect.
This repository was built by an external

[2021-03-20 17:34] curquiza opened #66 "Remove "objectID"

[2021-03-23 14:21] althaus commented on #59
Yes... we're getting there.

[code]

Building the PHP image yielded

[code]

Don't know if it's intended to only depend on the json and not the lock file in the Dockerfile. At least it seems there's still some conflict.

[2021-03-24 08:56] #17 closed

[2021-04-01 15:07] skylord123 commented on #58
Why are we removing the `objectID` usage? When objects get placed into Meilisearch the `objectID` param is set to the primary keys of the entity (or just the single value if there aren't multiple primary keys). When we pull objects down out of MeiliSearch we can just parse the `objectID` field to figure out how to query for the entity.

I sort of like how it works now because it keeps the config t

[2021-04-16 14:39] curquiza commented on #59
Hello @althaus, I don't have the issue you have when doing `docker build .` on this #65.
Can you send the steps you do to reproduce the issue?

What do you mean?

[2021-04-16 14:47] curquiza commented on #58
Hello @skylord123!

`objectID` is a term used by Algolia but is not used in the MeiliSearch ecosystem, that's why I suggest removing it :)

What do you mean by "handles multiple primary keys"?

[2021-04-24 21:09] codedge commented on #55
I installed the this package to today and could not find any issue installing it. I ran the command from the docs `composer require meilisearch/search-bundle nyholm/psr7` (already had `symfony/http-client` installed) and no error was shown.

@curquiza Adding a Symfony recipe would indeed be a good thing. It could automatically add

[code]
to the `.env` file, as other recipes do that. But this coul

[2021-04-25 13:39] codedge opened #72 "Importing no indexes results with success"
When running `php bin/console meili:import` it returns a successful `Done!` even if no indexes are defined via cli or via yaml file.

It should print a warning that no indices are defined, as it does when providing indices via cli but none is found.

[2021-04-25 15:35] codedge opened #74 "Refactor calls to deprecated methods"
Currently the package uses calls to deprecated methods. This can be observed when running the `meili:import` command  in a Symfony 5 application.

The call to Doctrines `clear()` method in MeiliSearchImportCommand [line 157](https://github.com/meilisearch/meilisearch-symfony/blob/main/src/Command/MeiliSearchImportCommand.php#L157), [line 160](https://github.com/meilisearch/meilisearch-symfony/blob

[2021-04-27 16:47] curquiza commented on #55
Thanks for your feedback @codedge! You're both right, I'm opening right now the issue!

[2021-04-27 16:48] curquiza opened #78 "Use Symfony recipes"
Docs: https://github.com/symfony/recipes/blob/master/README.rst

Related to:
- https://github.com/meilisearch/meilisearch-symfony/issues/55#issuecomment-786641015
- https://github.com/meilisearch/meilisearch-symfony/issues/55#issuecomment-826153870

[2021-04-27 17:07] curquiza commented on #72
Seems like a great fix! :)

[2021-04-27 17:11] #72 closed

[2021-04-27 17:16] curquiza commented on #55
Closing this issue, but feel free to ping me if we need to remove it.
FYI I opened #78 about the recipes!

[2021-04-27 17:16] #55 closed

[2021-04-27 18:08] codedge commented on #78
I already opened a [PR](https://github.com/symfony/recipes-contrib/pull/1128) at the [`symfony/recipes`](https://github.com/symfony/recipes) repository.

It currently fails because `doctrine/orm` is only a dev-requirement but actually is needed to be injected in the [`MeiliSearchImportCommand`](https://github.com/meilisearch/meilisearch-symfony/blob/main/src/Command/MeiliSearchImportCommand.php#L5

[2021-04-28 08:52] #74 closed

[2021-04-30 23:36] codedge commented on #58
So the second tasks is fixed as well (#70). The `objectId` stuff is done in #66 - I would also start taking care of that but first let's crush #76 (little reminder @curquiza ) 😉

[2021-05-21 13:22] #59 closed

[2021-06-03 09:10] Guikingone opened #88 "feat(form): add support for ChoiceType"
**Description**
Hi everyone 👋🏻

Is there any roadmap for a support of "search" in a form type?

What I mean by that is being able to create a custom form type that display a `ChoiceType` (or even in the `SearchType`) which use the `Engine` to display choices?

Thanks again for the feedback 🙂

**Basic example**

Small example outside of this bundle: https://github.com/Guikingone/MeiliSearchBundle/b

[2021-06-03 10:42] curquiza commented on #88
Hello @Guikingone!
Nothing is planned for the moment, so every suggestion is appreciated 🙂

I'm not a Symfony user, and no one is at Meili for the moment, so can you describe how the usage would change compared to the current one we have (cf [our wiki](https://github.com/meilisearch/meilisearch-symfony/wiki))? Or is it just a feature addition?
How can we use it? 🙂

[2021-06-03 11:13] Guikingone commented on #88
Hi @curquiza 👋🏻

It's a feature addition

Advantages:

- Use indexes and documents inside a form to display choices and speed search experience (when using `SearchType`)
- Being able to create form that use MS without pain as a default type handle the configuration and results.
- Allow to create a complete "search experience" without pain and a "deep" Symfony integration

Disadvantages:

- Inject

[2021-06-07 12:52] curquiza commented on #88
As I'm not a Symfony user I cannot tell if it's worth it to add it, I mean if the pros neutralize the cons! 🙂

Maybe @codedge you have an opinion on it? 😇

Also, if someone around here is from the PHP/Symfony community and read this issue, feel free to comment and give your opinion.

[2021-06-09 08:56] curquiza commented on #58
I let this issue opened since there is still some `objectID` in the code, but you did most of the job, thank you very much 😁

[2021-06-09 17:22] codedge commented on #58
Yes, for the `objectId` I would create a new branch & PR to work on.

[2021-06-10 15:57] 94noni commented on #88
Hi, I recently began to use meilisearch (for now directly with the php lib) and for POC/basic usage
I plan to integrate it inside a symfony project and thus checked this lib

I think this symfony lib could indeed leverage this kind of code but not activated by default, and let ppl activate it if needed

Also, It could be great to have some others symfony components like messenger for async update,

[2021-06-10 16:56] Guikingone commented on #88
@94noni I fully agree for both Messenger support and DataCollector support 🚀

[2021-06-11 21:56] codedge commented on #88
@Guikingone Anything that speaks against using your custom form type https://github.com/Guikingone/MeiliSearchBundle/blob/master/src/Form/Type/MeiliSearchChoiceType.php from being used here? I mean could you create a PR?

[2021-06-11 22:07] codedge commented on #62
Sorry for being late to the party 😄

I would really like to see that implemented or implement on my own but I am lacking a bit the uses cases.

1. Can you point me a bit towards the point in code where you have problems with your current solution?
2. So each of these three events, `postPersist`, `postUpdate`, `preRemove`, should dispatch a message that can be consumed by a custom handler, that can

[2021-06-14 07:24] Guikingone commented on #88
Hi @codedge 👋🏻

For now, I prefer to talk about this idea and see if the bundle can benefit from it, If there's a consensus about the feature, I could easily create the PR to see if it fit technically 🙂

[2021-06-16 06:47] norkunas commented on #62
@codedge sorry, forgot to reply :slightly_smiling_face:
1. The problem is that the document removal should be called with `postRemove` event not `preRemove`, because if doctrine would fail to delete the document would be lost.
2. Yes :)

[2021-06-16 12:07] codedge commented on #62
Sound good. I'll implement that, as it would make to usage of the package more attractive and open for more custom events per project/user with custom handlers.

[2021-06-16 13:28] baumanno opened #90 "Aggregators do not create a new index"
**Description**
Use case: implement a site-wide search on multiple models.

I had hoped to use multiple indices along with meilisearch/instant-meilisearch, but sadly, that is not supported yet. I took a peek at [the Algolia docs](https://www.algolia.com/doc/framework-integration/symfony/advanced-use-cases/multiple-models-in-one-index/), and they recommend using Aggregator-entities for this. Conven

[2021-06-16 21:24] codedge commented on #90
Coming from the central problem that MS does not support federated search, there are two options to deal with that:

**1. Config setting**

Allow the same index name in the `meili_search.yaml` for multiple/different entities.

[code]

In this example both models, `post` and `comment`, would be inserted into the same index `data`.

**2. Using aggregators**

While I was checking method one (and will

[2021-06-20 11:42] codedge commented on #14
There seems to be an existing test to check if an index could be cleared - https://github.com/meilisearch/meilisearch-symfony/blob/main/tests/TestCase/CommandsTest.php#L66

Anything else that should be tested in this ticket here or can this be closed?

[2021-06-21 16:07] curquiza commented on #14
Indeed!! Closing :)

[2021-06-21 16:07] #14 closed

[2021-06-21 16:09] curquiza commented on #88
If you, as symfony users, think think it's a good idea, let's start this! :)

[2021-06-21 16:21] curquiza opened #95 "Document "Allowing different entities indexed into same index""
When #92 is merged, we need to update the wiki!

[2021-06-21 16:26] curquiza commented on #62
Awesome!

[2021-06-21 19:57] codedge commented on #62
@norkunas Just added a small fix to the current situation: You can now enable the `postRemove` doctrine event (and disable the `preRemove`).

The next thing is the Messenger integration.

[2021-06-22 20:25] 94noni commented on #62
What about dispatching internal bundle event instead?
And let external code listen/subscribe and do the job

[2021-06-23 04:26] norkunas commented on #62
I'd say by default listen on doctrine events and add an option to enable messenger :)

[2021-06-23 10:44] baumanno commented on #56
I believe this issue can be closed, as #91 has been merged. Reading through the issue description, it sounds exactly like the bug adressed by that PR.

[2021-06-23 12:00] curquiza commented on #56
Thanks @baumanno! I close this!

[2021-06-23 12:00] #56 closed

[2021-07-01 16:29] curquiza opened #97 "Document "Listen to postRemove event""
When #96 is merged, we need to update [this section of the wiki](https://github.com/meilisearch/meilisearch-symfony/wiki/index-data-into-meilisearch#indexing-automatically-via-doctrine-events)

[2021-08-27 07:49] tomdoo opened #109 "Cannot update or delete documents with an Uuid"
Hi!
I'm using this type of IDs in my entities :

[code]

On update or remove I get an MeiliSearch\Exceptions\InvalidArgumentException in this method :

[code]

[2021-08-31 11:38] curquiza commented on #109
Hello @tomdoo!

Can you give in which context you have this error? What kind of document id triggers this problem?

[2021-08-31 12:06] tomdoo commented on #109
This error occurs when I persist entities with an UuidV4 primary key.
It fails on MeiliSearch\Bundle::remove() because the ID send is an object instead of int|string.

[2021-08-31 19:41] curquiza commented on #109
Add a test with this specific situation would be perfect then :)

[2021-09-01 08:29] tomdoo commented on #109
I added the tests.

There was also an issue in MeiliSearchService::search. For a reason I don't know this doesn't works with generic objects

[code]

I replaced it with, it's also better if your identifier is not named "id"

[code]

[2021-09-01 11:25] #109 closed

[2021-09-01 16:54] tomdoo opened #114 "Delete command"
**Description**
A command like import or clear to delete indexes.

**Basic example**
To complety delete one or more indexes

`php bin/console meili:delete --indices=posts,comments`

**Other**
If you are interrested I can make a pull request, I have already coded this command.

[2021-09-01 17:15] curquiza commented on #114
Hello again @tomdoo!

I'm interested in reviewing your PR for this addition :D

[2021-09-02 07:19] tomdoo commented on #114
https://github.com/meilisearch/meilisearch-symfony/pull/115

[2021-09-14 14:44] curquiza commented on #78
@codedge are we still waiting for https://github.com/symfony/recipes-contrib/pull/1188? :)

[2021-09-14 14:50] #114 closed

[2021-10-24 13:53] Guikingone opened #121 "(feat): DocumentDataProvider to allow external data sources"
**Description**

Hi everyone 👋🏻

Small suggestion here that can help the bundle supporting extra document data sources, for now, this bundle only support loading document data from entities (without asynchronous supports but more on this later), even if this is the de facto approach when it comes to data handling in Symfony application (thanks to Doctrine), we often use external services like Redi

[2021-10-26 16:02] Guikingone opened #122 "Cannot import indices with document data"
**Description**

Hi everyone 👋🏻

It seems that the latest version of the bundle does not allows to load data into documents when using it in `symfony/demo` project.

**Environment:**
- OS: **macOS**
- PHP: **7.4**
- MeiliSearch version: **latest**
- MeiliSearch PHP SDK: **0.16.0**
- meilisearch-symfony version: **0.2.6**

**Expected behavior**

The data should be loaded in documents along with ind

[2021-10-28 07:25] #122 closed, assigned to nobody

[2021-11-09 07:03] norkunas commented on #121
I think it'd nice addition :)

[2021-11-12 11:05] Guikingone commented on #121
Hi 👋🏻

@curquiza If it's good for you, I can start working on a solution, submit a PR then we can see if it fit the bundle and improve the developer experience 🙂

[2021-11-15 09:23] curquiza commented on #121
Hello @Guikingone, thanks for your suggestion, I think we can start a work on it! :)

[2021-11-23 05:00] norkunas opened #130 "Allow to delete an object from index only having an identifier"
**Description**
Currently `MeiliSearch\Bundle\SearchService` exports method for deleting an entity, but there is no way to delete it having an identifier only. The basic use case - delete hundreds of entities in batch, then dispatch a messenger message to remove them from index, but providing only integers, as you cannot load anymore entities that do not exist.

**Basic example**
[code]

**Other**

[2021-11-23 16:13] revenkroz opened #131 "Ability to set request timeout"
Sometimes when you import a lot of data, 5 sec as defined [here](https://github.com/meilisearch/meilisearch-php/blob/0b592c1d2b3e642d618254a7ff5716874b72fabf/src/Endpoints/Indexes.php#L186) is not enough and the command `meili:import` fails with the error:
[code]

The idea is to add an option to configure a timeout when importing.

[2021-11-24 11:38] revenkroz commented on #64
I was faced with the same question. Now it can be solved quite easily (based on your example):

[code]

Just don't set base class as a source, set only its children and use the same name of index for both.

[2021-11-28 16:15] revenkroz opened #134 "Too many queries are made in the db"
**Description**
For each search result a query [is made](https://github.com/meilisearch/meilisearch-symfony/blob/2bf841639028cb913a9cd69a24ea0464a91da366/src/Services/MeiliSearchService.php#L180) in the database, and if the number of results is huge, so are the queries number.

**Possible fix**
1) Collect all result ids
2) Run one query in the DB
3) Get all entities and sort them as it was in sear

[2021-11-28 16:24] revenkroz commented on #134
I did https://github.com/meilisearch/meilisearch-symfony/pull/135 trying to solve the issue, but found that Doctrine's `findBy` method can't find the database entries when id is an object (e.g. [Page class](https://github.com/meilisearch/meilisearch-symfony/blob/2bf841639028cb913a9cd69a24ea0464a91da366/tests/BaseKernelTestCase.php#L64) from tests).

But it works perfectly with any other entities.

[2021-12-17 11:17] curquiza commented on #134
Hello @revenkroz!

Thanks for this issue and the investigation. This is indeed should be improved if possible :)

[2021-12-17 11:59] curquiza opened #140 "Symfony version support"
Hello Symfony users 👋

Currently, this package only supports Symfony 4 and 5.

If you would like this package to support Symfony 6, please let us know here!

PR are welcomed of course 😇

[2021-12-17 12:01] curquiza opened #141 "Increase lowest constraint from Symfony 4.0 to 4.4"
Symfony 4.4 is is lowest maintained version currently

[2021-12-17 12:06] curquiza commented on #130
Hello @norkunas, feel free to implement your need in this package :)

We should have test for this function of course

[2021-12-17 12:46] curquiza opened #143 "Support Symfony 6"
Make this package work with Symfony 6.

A contributor already tried to make this package work with Symfony 6 but we encountered some issues.
Check out this PR #139

[2021-12-20 11:58] norkunas opened #147 "MeiliSearchService `settingsMapping` looks unused"
https://github.com/meilisearch/meilisearch-symfony/blob/7da911b27f11a75057417c032918a3a8d3a185ad/src/Services/MeiliSearchService.php#L35
https://github.com/meilisearch/meilisearch-symfony/blob/7da911b27f11a75057417c032918a3a8d3a185ad/src/Services/MeiliSearchService.php#L48
https://github.com/meilisearch/meilisearch-symfony/blob/7da911b27f11a75057417c032918a3a8d3a185ad/src/Services/MeiliSearchServi

[2021-12-20 12:25] norkunas commented on #130
Looking at how the final `ID` is generated to be stored to meilisearch, I'm not sure how this could work with composite identifiers..

For a basic use case when no composite is used, we could allow to just pass int/string `ID` and then in the method retrieve the identifier field of the doctrine entity and convert to the meilisearch format and that would work.

But if composite would be used than w

[2021-12-20 12:53] norkunas opened #148 "Symfony HttpClient"
**Description**
Symfony has it's own HttpClient component which I think should be used by default :)

**Basic example**
It's only one line in the services configuration

**Other**
N/A

[2021-12-21 11:06] #148 closed

[2021-12-21 11:11] #131 closed

[2021-12-21 11:21] curquiza commented on #130
Yes, let's keep basic for a first implementation.

[2021-12-24 14:44] 676767ap opened #152 "I've got "Notice: Undefined index: errorCode" on excecuting bin/console meili:import command"
On excecuting bin/console meili:import command i've got this:
[code]
My meili_search.yaml
[code]
SearchRes.php entity:
[code]
in .env:
[code]
Symfony 4, Ubuntu 21.10, PHP 7.4

[2022-01-03 16:33] #147 closed

[2022-01-10 15:23] curquiza commented on #152
If you use MeilISearch v0.24.0, please use:
- meilsearch-php v0.20.0 https://github.com/meilisearch/meilisearch-php/releases/tag/v0.20.0
- search-bundle v0.6.0 https://github.com/meilisearch/meilisearch-symfony/releases/tag/v0.6.0

[2022-01-11 08:54] 676767ap commented on #152
Thanks a lot! Unfortunately i cannot use those versions due to confilts with other old bundles. I'll try to downgrade MeilISearch itself.

[2022-01-11 09:03] curquiza commented on #152
Which conflict do you have? :(

[2022-01-11 10:10] 676767ap commented on #152
Many!)))) With old Sonata-project + Doctrine ORM mostly it unsolvable

[2022-01-11 10:26] 676767ap commented on #152
Could you please tell me what version of meilisearch will work with "meilisearch/search-bundle": "^0.2.6" and "meilisearch/meilisearch-php": "v0.16.0" ?

[2022-01-11 13:34] curquiza opened #153 "test"
test

[2022-01-11 14:02] brunoocasali commented on #153
tested, we can close this now 😅

[2022-01-11 14:02] #153 closed

[2022-01-11 16:37] curquiza commented on #152
I would say MeiliSearch v0.20.0 or older...
Do we have a too old (or too new?) doctrine-bundle dependency in our composer.json?

[2022-01-31 17:49] curquiza opened #158 "Remove the comment to ignore PHP Stan"
Added here: https://github.com/meilisearch/meilisearch-symfony/pull/137/files#r795918289

We might want to find a way to make PHPStan happy without adding a comment to ignore the line

[2022-02-08 19:29] brunoocasali commented on #158
Since we just "moved" the phpstan ignore to another place, we must keep this open! 👯

[2022-02-09 20:17] jonatanrdsantos opened #164 "Add PHPMD to improve code quality"
**Description**
A good practice is to add [PHPMD](https://phpmd.org/) to the project so we can check the code against good practices.

**Basic example**
The code can be validated by running:
[code]

**Other**
We could split the PHPMD into 2 phases, the first one to add PHPMD to the project and the second to fix the current problems.

[2022-02-13 16:24] aturki opened #167 "Meilisearch requires doctrine bundle although the target application doesn't use it"
**Description**
Basically, when an application uses doctrine mongodb odm for instance, installing meilisearch symfony will also install doctrine bundle which is not required by the app.

**Expected behavior**
Meilisearch bundle should not depend on doctrine-bundle but rely on configuration options to use the right DB

**Current behavior**
What happened.

**Screenshots or Logs**
N/A

**Environment

[2022-02-16 12:30] brunoocasali commented on #167
Hello @aturki thanks for your message!

Currently, we are working with all hands on the upgrade of the integrations to v0.26 of Meilisearch, so I don't have the time to dig into this :/

But if you want, you could provide a PR for that! I'll be happy to approve it 💪

[2022-03-08 07:48] norkunas commented on #167
The doctrine bundle dependency could be made as optional in future if https://github.com/meilisearch/meilisearch-symfony/issues/121 will be implemented

[2022-03-21 16:28] brunoocasali opened #174 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-04-10 18:54] reflexator opened #176 "Command meili:create doesn't create index without settings"
**Description**
Running php bin/console meili:create - didnt create index when no settings is present in configuration aka:

[code]

**Expected behavior**
Index is created when no settings is present

**Current behavior**
Index is not created

**Environment (please complete the following information):**
- OS: [e.g. Debian GNU/Linux]
- Meilisearch version: v:0.23.1
- meilisearch-symfony version: v0

[2022-04-10 19:03] reflexator commented on #176
When added settings, index is created, but next problem is that data cant be imported with meili:import even when i debug and rows are fetched from DB

[2022-04-11 20:01] brunoocasali opened #179 "Add support to the typo tolerance customization"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/190
- specification: https://github.com/meilisearch/specifications/pull/117

----

[2022-04-13 17:44] brunoocasali commented on #176
Hello, @reflexator thanks for your report!

Can you give me more information about your `meili:import` command, by the way, is there any kind of error?

[2022-04-13 18:53] reflexator commented on #176
No errors:
[code]

If you look to command -
https://github.com/meilisearch/meilisearch-symfony/blob/abd5611594ae784890d19c90795881f0db9d681a/src/Command/MeiliSearchCreateCommand.php#L67

Only creates IndexInstance but don't call meili to create index, it only does when settings is present and maybe
[code]
Is called

[2022-04-13 20:29] brunoocasali commented on #176
Thanks for the information! We are in the v0.27 release cycle now, so it could be complicated for me to work on this issue right now.

Feel free to send a PR if you have the time to do that ❤️

[2022-04-14 22:18] brunoocasali commented on #152
@676767ap and @curquiza I had this exact same problem when I was trying this bundle.

My problem was regarding my Meilisearch server version being too much up to date (v0.26.1) using an old `search-bundle`, and `meilisearch-php`.

So, @676767ap I think your problem will be solved by doing what @curquiza said, updating all or downgrading all.
I'll close this issue, but feel free to open new ones!

[2022-04-14 22:19] #152 closed

[2022-06-16 14:17] shevabam opened #184 "Symfony 6.0.9 and PHP 8.1.0 -> can't composer install meilisearch/search-bundle"
Hello 👋

I'm using Symfony 6.0.9 with PHP 8.1.0.
When I run `composer install meilisearch/search-bundle`, I get these errors:

[code]

From what I understand, `meilisearch/search-bundle` is not (yet) compatible with PHP 8.1 but [with version 8.0](https://github.com/meilisearch/meilisearch-symfony/blob/main/composer .json#L21).

Are there plans to make `meilisearch/search-bundle` compatible on PHP

[2022-06-21 14:58] althaus commented on #184
I'm running 0.7.2 with PHP 8.1 in development. So it **should** work.

[2022-06-23 17:03] brunoocasali commented on #184
Hi, @shevabam like @althaus said it is supposed to work:
https://github.com/meilisearch/meilisearch-symfony/runs/6798976162?check_suite_focus=true

About your comment @althaus how we can trace a path to get rid of these dependencies, is something possible?

[2022-06-23 17:10] brunoocasali commented on #184
@shevabam since we have `^8.0` according to the [composer docs](https://getcomposer.org/doc/articles/versions.md#caret-version-range-) we support versions above 8.0 but lower than 9.0 :)

[2022-06-23 21:22] brunoocasali commented on #6
I think this is no longer an issue since we have a docker-compose integration #182

[2022-06-23 21:22] #6 closed

[2022-06-24 11:22] Laguigue commented on #152
Hello, i just ran through the same problem: i installed the bundle + settup Meilisearch via docker (https://hub.docker.com/r/getmeili/meilisearch/tags). I managed to get it fixed by changing my docker image getmeili/meilisearch:latest to getmeili/meilisearch:v0.20.0 But why close this issue ? It is still a major bug for any people who will install the bundle and Meilisearch at last version. Any id

[2022-06-27 17:53] #158 closed

[2022-07-06 15:41] #176 closed

[2022-07-07 22:37] 3PSY0N opened #191 "Please provide a small example for search with service"
Hello

I'd like to make a basic search for my icons
Here's my code :
[code]

This isn't optimal, I'm sure there is a way to search directly but I don't found anything in the documentation.

When I do this, I found 0 hits :
[code]

Can you provide a small example to how to do a basic search **with SearchService**

Thank you

[2022-07-11 00:47] brunoocasali commented on #191
Hi, @3PSY0N thanks for using Meilisearch!

Before entering your specific request, did you index the data? For example, can you usually search through the documents in a CURL/Postman request?

[2022-07-13 18:41] brunoocasali commented on #191
Hi @3PSY0N I've created a small example of how you can use this bundle here: https://github.com/meilisearch/meilisearch-symfony/wiki/Searching-with-Meilisearch-Bundle

Let me know if you need anything!

Thanks for using Meilisearch ❤️

[2022-07-13 18:42] #191 closed

[2022-10-11 10:48] brunoocasali opened #200 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-12 16:08] #200 closed

[2022-10-27 22:00] #184 closed

[2022-11-04 08:49] daFish opened #206 "Wiki: Change 'attributesForFaceting' to 'searchableAttributes'"
**Description**
The wiki page https://github.com/meilisearch/meilisearch-symfony/wiki/configure-settings uses the outdated setting `attributesForFaceting`. This will lead to an exception when updating the indices.
To make it work, the key needs to be `searchableAttributes`.

[2022-11-07 20:21] #179 closed

[2022-11-07 20:46] brunoocasali commented on #206
Thanks for your report @daFish it is done! 🤘

[2022-11-07 20:46] #206 closed